html {
  background-color: #010913;
}

/* App.css or your component's styles */

/* Hide scrollbar for Chrome, Safari, and Opera */
.md\\:overflow-auto::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.md\\:overflow-auto {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

/* Optional: Style the thumb and track for Firefox */
.md\\:overflow-auto::-webkit-scrollbar-thumb {
  display: none !important;
}

.md\\:overflow-auto::-webkit-scrollbar-track {
  display: none !important;
}

.bg-tertiary::-webkit-scrollbar {
  width: 0.5em;
}

.bg-tertiary::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.sticky-same-props {
  position: -webkit-sticky;
  position: sticky;
  top: 3rem;
  right: 3rem;
}

.hero-image {
  mix-blend-mode: lighten; /* or any other blending mode */
}

@media (max-width: 767px) {
  .about-text {
    max-height: 150px; /* Adjust the max height as needed */
  }
}

.custom-input {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  outline: none;
  color: white;
  width: 100%;
}
