html {
  background-color: #010913;
}

/* Custom scrollbar hiding styles */
.bg-tertiary::-webkit-scrollbar {
  width: 0.5em;
}

.bg-tertiary::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.sticky-same-props {
  position: -webkit-sticky;
  position: sticky;
  top: 3rem;
  right: 3rem;
}

.hero-image {
  mix-blend-mode: lighten; /* or any other blending mode */
}

@media (max-width: 767px) {
  .about-text {
    max-height: 150px; /* Adjust the max height as needed */
  }
}

.custom-input {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  outline: none;
  color: white;
  width: 100%;
}
